*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html,
body{
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    background-color: royalblue;
    overflow: hidden;
}


.box{
    height: 420px;
    width: 350px;
    background-color: black;
    padding: 5px 0px;
}

.box .title{
    color: white;
    display: flex;
    align-items: center;
    gap: 3px;
    /* margin-bottom: 5px; */
    padding: 10px 10px 10px 10px;
}

.box .title .pfp img{
    height: 28px;
    width: 28px;
    margin-right: 7px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.box span{
    color: rgb(0, 81, 255);
    
    display: flex;
    align-items: center;
}



.box h2{
    cursor: pointer;
}

.box .title h2{
    font-size: 13px;
}

.box .love {
    overflow: hidden;
    position: relative;
}
.box .love img{
    height:300px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    /* margin-top: 20px;] */
}

.box i{
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0) rotate(-60deg);
    font-size: 100px;
    background-image: url("https://img.freepik.com/free-vector/instagram-background-gradient-colors_23-2147819864.jpg?semt=ais_hybrid&w=740&q=80");
    background-size: cover;
    opacity: 0;
    z-index: 0;
    transition: all cubic-bezier(.64,1,.44,1.4) 0.2s;

    color: transparent;
    background-clip: text; 
    -webkit-background-clip: text;
}


.box h1{
    text-align: center;
}

.com{
    top: 75.5%;
    position: absolute;
    display: flex;
    gap: 167px;
    align-items: center;
    justify-content: center;
}

.like{
    display: flex;
    align-items: center;
    gap: 15px;
    
   
}

.com i{
    font-size: 30px;
    color: white;
    fill: white;
    align-items: center;
}



