* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: black;
  color:white;
}

main {
  height: 100vh;
  width: 100%;
  background: linear-gradient(
    to right bottom,
    rgb(26, 26, 26),
    rgb(35, 35, 35),
    rgb(26, 26, 26)
  );
  padding: 20px;
  
}

section {
  height: 100%;
  width: 350px;
  border-radius: 10px;
  margin: auto;
  
  
}

.allReels {
  height: 100%;
  width: 100%;
  overflow: auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.allReels::-webkit-scrollbar{
  display: none;
}

.reel {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 20px;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.reel video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.reel .bottom {
  padding: 20px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.877));
  width: 100%;
  position: absolute;
  bottom: 0;
  border-radius: 10px;
}

.reel .bottom .user {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
}

.user h4{
  font-weight: 600;
  font-size: 18px;
}

.user img{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.user button{
  background-color: transparent;
  padding: 2px 4px;
  font-size: 13px;
  border-radius: 2px;
  border: 1px solid white;
}

.bottom>h3{
  font-size: 20px;
  font-weight: 600;
  line-height: 100%;
}

.right{
  width: 40px;
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
  text-align: center;
  position: absolute;
  right: 3%;
  bottom: 11%;
}

.right h4{
  cursor: pointer;
}

.right i{
  font-size: 30px;
}

.right>div{
   display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 50px;
  cursor: pointer;
}

.right h6{
  font-weight: 500;
  font-size: 17px;
}

.love{
  color: red;
}

.right>div h4{
  pointer-events: none;
}

.right>div h6{
  pointer-events: none;
}

.mute{
  position: absolute;
  background-color: #333;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.mute i{
  font-size: 18px;
  pointer-events: none;
}

.mute:active{
  scale: 0.95;
}