*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
}

main{
  height: 100vh;
  width: 100%;
  background-color: #000;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.elem{
  width: 60%;
  height: 180px;
  background-color: rgb(53, 53, 53);
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  color: white;
  border-radius: 10px;
}

.elem  h2{
  font-size: 40px;
  font-weight: 700;
}

.elem button{
  font-size: 30px;
  padding: 10px 20px;
  background-color: royalblue;
  border-radius: 5px;
}