*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html,
body{
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    color: red;
    background-color: black;
    overflow: hidden;
}



.change{
    width: 130px;
    height: 50px;
    background-color: red;
    font-size: 20px;
    padding: 10px; 
    border: none;
    border-radius: 5px;
    position: relative;
    z-index: 9;
}


.change:active{
    scale: 0.95;
}




