*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html,
body{
    height: 100vh;
    width: 100vw;
}

main{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    background-image: url("https://i.pinimg.com/1200x/19/c2/59/19c25988b4ac708768cc9779d10af31d.jpg");
    background-position: center;    
    background-repeat: no-repeat;
    background-size: cover;
}
.box{
    width: 50%;
    height: 50%;
    background-color: rgb(20, 30, 160);
}


.change{
    width: 130px;
    height: 100px;
    padding: 10px; 
    justify-content: center;
    align-items: center;
}




