*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html,
body{
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    background-color: royalblue;
    overflow: hidden;
}

i{
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0) rotate(-60deg);
    font-size: 100px;
    background-image: url("https://img.freepik.com/free-vector/instagram-background-gradient-colors_23-2147819864.jpg?semt=ais_hybrid&w=740&q=80");
    background-size: cover;
    opacity: 0;
    z-index: 0;
    transition: all cubic-bezier(.64,1,.44,1.4) 0.2s;

    color: transparent;
    background-clip: text; 
    -webkit-background-clip: text;
}

.box{
    height: 500px;
    width: 300px;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    
}

.box div {
    overflow: hidden;
    position: relative;
}
.box img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.box h1{
    text-align: center;
}



