*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html,
body{
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    font-family: monospace;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    
    background-color: black;
    overflow: hidden;
}

.box{
    height: 250px;
    width: 500px;
    background-color: white;
    border-radius: 10px;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center
}

.baby{
    text-align: center;
}

span{
    color: blue;
}

.outer{
    /* margin-left: 5px; */
    width: 95%; 
    height:15px;
    border-radius: 10px;
    background: #8b8b8b;
}

.inner{
    width: 0%;
    height: 100%;
    background-color: green;
    border-radius: 10px;
}

.download{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.percent{
    font-size: 60px;
}




.change{
    width: 180px;
    height: 50px;
    background-color: green;
    
    font-size: 15px;
    padding: 10px; 
    border: none;
    border-radius: 5px;
    position: relative;
    z-index: 9;
}

.change h1{
    font-size: 23px;
}

.change:active{
    scale: 0.95;
}




