*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html,
body{
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: red;
    background-color: black;
    gap:30px;
    background-position: bottom;   
    background-repeat: no-repeat;
    background-size:cover;
}

.cursor{
    position: absolute;
    mix-blend-mode: difference;
    background-color: red;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    transition: all linear 0.2s;
}

h1{
    font-size: 170px;
}



.change{
    width: 130px;
    height: 50px;
    padding: 10px; 
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
}


.change:active{
    scale: 0.95;
}




