*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html,
body{
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    min-height: 100%;
    width: 100%;
    cursor: none;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: rgb(146, 151, 151);
    background-color: black;
}

#cursor{
    height: 40px;
    position: fixed;
    transform: translate(-50%,-50%);
    z-index: 30;
}

.container{
    width: max-content;
    padding: 90px 40px 35px ;
    border-radius: 20px;
    background:#181717;
}
.pianokeys{
    margin: 0;
    padding: 0;
    display: flex ;
    list-style: none;
}

.pianokeys .white{
    height: 250px;
    width: 70px;
    border: 1px solid #000;
    border-left: 1px solid #fff2;
    border-bottom: 1px solid #bababa;
    border-radius: 0 0 5px 5px;
    background-color: white;

}

.pianokeys .key{
    cursor: pointer;
    position: relative;
    text-transform: uppercase;
}

.pianokeys .key span{
    position: absolute;
    bottom: 20px;
    width: 100%;
    font-size: 18px;
    text-align: center;
    font-weight: 500;
    color: white;
}

.pianokeys .white span{
    color: #000;
}

.pianokeys  .black{
    z-index: 2;
    width: 44px;
    height: 160px;
    margin: 0 -22px  0 -22px;
    border:1px solid #000;
    border-radius: 0 0 3px 3px;
    background: #000;

}




